

<div class="container">


  <div class="card bg-dark text-white">
    <div class="card-header"> Consignar </div>
    <div class="card-body">

      <form>

        <div class="form-group row">
          <label for="importe" class="col-form-label col-sm-2"> Monto </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="transaction.importe" name="importe">
          </div>
        </div>



        <div class="form-group row">
          <div class="col-sm-6">

            <button type="submit" class="btn btn-primary" (click)="consignar()">  Consignar </button>


          </div>
        </div>


      </form>

    </div>
  </div>




  </div>


